


#app #explore_page {
    padding: 1.81rem;
    padding-top: 0;
}

#app #explore_page .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.12rem;
}
#app #explore_page .buttons .categorie {
    border-radius: 0.43rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#app #explore_page .buttons .filter {
    font-size: 1.8rem;
}

#app #explore_page .book-list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    gap: 0.94rem;
    padding-bottom: 6rem;
}

#app #explore_page .book-list .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 202px;

    /* border: 1px dashed; */
}
#app #explore_page .book-list .book .book-cover {
    width: 100%;
    height: 140px;
    flex-shrink: 0;

    border-radius: 0.625rem;
}

#app #explore_page .book-list .book:nth-child(1) .book-cover {
    background: url(../assets/cover/IMG_0016.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(2) .book-cover {
    background: url(../assets/cover/IMG_0020.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(3) .book-cover {
    background: url(../assets/cover/IMG_0002.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(4) .book-cover {
    background: url(../assets/cover/IMG_0008.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(5) .book-cover {
    background: url(../assets/cover/IMG_0022.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(6) .book-cover {
    background: url(../assets/cover/IMG_0019.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(7) .book-cover {
    background: url(../assets/cover/IMG_0017.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(8) .book-cover {
    background: url(../assets/cover/IMG_0006.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(9) .book-cover {
    background: url(../assets/cover/IMG_0029.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(10) .book-cover {
    background: url(../assets/cover/IMG_0013.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(11) .book-cover {
    background: url(../assets/cover/IMG_0009.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#app #explore_page .book-list .book:nth-child(12) .book-cover {
    background: url(../assets/cover/IMG_0014.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}

#app #explore_page .book-list .book .book-title {
    height: 3.2rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 0.2rem;

    text-align: center;
    font-weight: 500;
}