* {
    margin: 0;
    padding: 0;
    
    font-family: 'Inter', sans-serif;
}

#nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0 1.81rem 1.44rem 1.81rem;
    
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 1px dashed; */
    background-image: linear-gradient(to bottom, var(--gradient-secondColor), var(--gradient-firstColor));
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 96%;
    height: 4.6875rem;
    flex-shrink: 0;
    padding: 1.5rem;

    /* styles */
    border-radius: 1.25rem;
    background: var(--navbarBackground);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    list-style: none;
}
.menu .nav-menu-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.4rem;
    width: 3.4rem;

    /* border: 1px dashed; */
    font-size: 1.8rem;
    cursor: pointer;
}
.menu .nav-menu-item.active {
    color: var(--highlight);
    border-radius: 0.9375rem;
    background: var(--navbarActiveItem);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu .nav-menu-item i {
    position: relative;
    top: 4px;
    left: 2px;
}
.menu .nav-menu-item:nth-child(1) {
    padding-left: 0;
}



/* TOPBAR */
#topbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1.81rem 1.2rem 1.81rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    z-index: 9999;

    background: var(--background);
}
#topbar .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#topbar .tools .tool-notif {
    margin: 0 10px 0 10px;
}
#topbar .tools .tool-search {
    display: flex;
    border-radius: 0.5rem;
}
#topbar .tools .tool-search input {
    transition: width 0.3s;
    border: none;
    outline: none;
    background: transparent;
    color: var(--foreground);
}