
#profile_page,
#other_profile_modal_window {
    display: flex;
    flex-direction: column;
}

#profile_page .profile-photo,
#other_profile_modal_window .profile-photo {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60vh;
    z-index: 1;

    border-radius: 0 0 2rem 2rem;
    background: url(../assets/avatar/large/elyse.png) no-repeat;
    background-size: cover;
    background-position: 50%;
}

#profile_page .functions .button,
#other_profile_modal_window .functions .button {
    background: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    margin: 1.44rem;
}

#profile_page .profile-activity,
#other_profile_modal_window .profile-activity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.81rem;
    /* transform: translateY(-4.5rem); */
}

#profile_page .profile-activity div,
#other_profile_modal_window .profile-activity div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_page .profile-activity .value,
#other_profile_modal_window .profile-activity .value {
    font-size: 1.7rem;
    font-weight: 600;
    color: #FFFFFF;
}
#profile_page .profile-activity label,
#other_profile_modal_window .profile-activity label {
    text-transform: capitalize;
    margin-top: 0.3rem;

    color: hsl(0, 0%, 60%);
}

#profile_page .profile-others,
#other_profile_modal_window .profile-others {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40%;
    z-index: 2;
    /* padding: 1.81rem; */

    border-radius: 2rem 2rem 0 0;
    background: var(--profile-othersInfoColor);

}

#profile_page .profile-others .identification,
#other_profile_modal_window .profile-others .identification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 1.81rem;
    padding-bottom: 0;
}

#profile_page .profile-others .identification .text,
#other_profile_modal_window .profile-others .identification .text {
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
}

#profile_page .profile-others .identification .text .name,
#other_profile_modal_window .profile-others .identification .text .name {
    font-size: 1.2rem;
    font-weight: 600;
}
#profile_page .profile-others .identification .text .mail,
#other_profile_modal_window .profile-others .identification .text .mail {
    color: hsl(0, 0%, 50%);
}

#profile_page .profile-others .about,
#other_profile_modal_window .profile-others .about {
    padding: 1.81rem;
    padding-bottom: 0;
    padding-top: 0;
    /* margin-bottom: 1.2rem; */
}

#profile_page .profile-others .about label,
#profile_page .profile-others .my-books label,
#other_profile_modal_window .profile-others .about label,
#other_profile_modal_window .profile-others .my-books label {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2rem;
}
#profile_page .profile-others .about p,
#other_profile_modal_window .profile-others .about p {
    font-size: .87rem;
    font-weight: 200;
}

#profile_page .profile-others .my-books,
#other_profile_modal_window .profile-others .my-books {
    background: var(--profile-othersInfoColor);

    padding: 1.81rem;
    padding-bottom: 0;
    padding-top: 1.2rem;
    width: 100%;
}

#profile_page .profile-others .my-books .list,
#other_profile_modal_window .profile-others .my-books .list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    gap: 0.94rem;
    padding-bottom: 7rem;
    margin-top: .37rem;
}
#profile_page .profile-others .my-books .list .book,
#other_profile_modal_window .profile-others .my-books .list .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 202px;

    /* border: 1px dashed; */
}
#profile_page .profile-others .my-books .list .book .book-cover, 
#profile_page .profile-others .my-books .list .add,
#other_profile_modal_window .profile-others .my-books .list .book .book-cover {
    width: 100%;
    height: 140px;
    flex-shrink: 0;

    border-radius: 0.625rem;
}

#profile_page .profile-others .my-books .list .book:nth-child(1) .book-cover {
    background: url(../assets/cover/IMG_0016.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(2) .book-cover {
    background: url(../assets/cover/IMG_0020.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(3) .book-cover {
    background: url(../assets/cover/IMG_0002.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(4) .book-cover {
    background: url(../assets/cover/IMG_0008.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(5) .book-cover {
    background: url(../assets/cover/IMG_0022.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(6) .book-cover {
    background: url(../assets/cover/IMG_0019.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(7) .book-cover {
    background: url(../assets/cover/IMG_0017.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(8) .book-cover {
    background: url(../assets/cover/IMG_0006.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(9) .book-cover {
    background: url(../assets/cover/IMG_0029.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(10) .book-cover {
    background: url(../assets/cover/IMG_0013.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(11) .book-cover {
    background: url(../assets/cover/IMG_0009.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}
#profile_page .profile-others .my-books .list .book:nth-child(12) .book-cover {
    background: url(../assets/cover/IMG_0014.JPG) no-repeat;
    background-size: cover;
    background-position: 0%;
}


#profile_page .profile-others .my-books .list .book .book-title,
#other_profile_modal_window .profile-others .my-books .list .book .book-title {
    height: 3.2rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-top: 0.2rem;

    text-align: center;
    font-weight: 500;
}

#profile_page .profile-others .my-books .list .add {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    background: var(--navbarBackground);
}

#profile_page .profile-others .my-books .list .add i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
}